{% macro topNav(nav) %}
  <nav id="shtuka">
    <ul>
    {% for item in nav %}
      {% if item %}
        {% for title, url in item %}
          <li><a href="{{ url }}">{{ title }}</a></li>
        {% endfor %}
      {% else %}
        <span class="separator"></span>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
{% endmacro %}
